@using WebApplication1.Data.Entities;
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUpdateUser</title>
</head>
<body>
    <form method="post">
        <div>
            <label asp-for="FirstName">First Name </label>
            <input asp-for="FirstName" />
        </div>
        <div>
            <label asp-for="LastName">Last Name </label>
            <input asp-for="LastName" />
        </div>
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" />
        </div>
        <button type="submit">Save<</button>
    </form>
</body>
</html>
